<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Auto Tdd"
            id="org.autotdd.category">
      </category>
      <view
            name="Auto Tdd 2"
            icon="icons/AutoTdd.png"
            category="org.autotdd.category"
            class="org.autotdd.eclipse2.AutoTddView"
            id="org.autotdd.eclipse2.AutoTddView">
      </view>
   </extension>

</plugin>
